<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  .x{
    margin-top: 15px;
     width: 100%;
      height:250px
  }
</style>

<form [formGroup]="markdownTextForm" (ngSubmit)="onSubmit()" >
  <label for="name">
    Enter Markdown Text
  </label>
  <div>
    <textarea  #textInput (change)="onTextChange(textInput)" type="text" formControlName="text" style="margin-top: 15px; width: 100%; height:150px"></textarea>
  </div>




      <button type="submit" title="Save" mat-raised-button
          style="margin-right: 1em;">Save</button>
      <button type="button" title="Clear all input fields" (click)="onClear()" mat-raised-button color="warn"
          style="margin-right: 1em;">Clear</button>
  </form>

  <h4>HTML Preview</h4>
  <!-- <markdown ngPreserveWhitespaces>
    {{markdownTextForm.value.text}}
  </markdown> -->
  <section  #txtAreaValue  style="margin-top: 15px; width: 100%; height:150px" >
    <!-- {{markdownTextForm.value.text}} -->
    <h1>This is a H1 title</h1>
  </section>

<app-html [file] = "file"></app-html>





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
